<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your BMI Calculator</title>
    <style>
        body{
        background-image: url('https://www.jolie.de/sites/default/files/styles/image870w/public/images/2018/02/02/bmi-body-mass-index.webp?itok=Bw3phlIz');
       }
       .result{
        text-align:center;
        width:auto;
        font-size:30px;
       }
    </style>
</head>
<body>
<div class="result">
    <label>Result = </label>
    <td class="result" th:text="${bmi}"></td>

</div>


</body>
</html>